### Relational operator

In [1]:
#returns a boolean value True or False
3>5

False

In [2]:
3==3

True

### if-elif-else

In [5]:
# program to print a no is greater than 99 or not
x = int(input("enter a number: "))
if x < 99:
    print(x, "is less than 99 ")
else:
    print(x, "is greater than 99")

enter a number: 88
88 is less than 99

In [7]:
# WAP to print yes if a number lies between 1000 & 1100 or else print no
x = int(input("enter a number: "))
if x < 1000:
    print ("no")
else:
    if x > 1100:
        print("no")
    else:
        print("yes")

enter a number: 666
no

In [10]:
# WAP to print yes if a number lies between 1000 & 1100 or else print no
x = int(input("enter a number: "))
if x < 1000:
    print ("no")
elif x > 1100:
    print("no")
else:
    print("yes")

enter a number: 1200
no

In [12]:
# WAP to record the age of a visitor and allow him if his age is below 18 or above 60
age = int(input("enter the age: "))

if age < 18 or age > 60:
    print("Welcome to the party")
else:
    print("sorry u are not allowed")

enter the age: 65
Welcome to the party

In [16]:
# WAP which offersv various discounts 
total_bill = int(input("enter the bill:"))
if total_bill >= 1000:
    print("discount of 10 %")
elif total_bill >= 500:
    print("discount of 5%")
elif total_bill >= 300:
    print("discount of 3%")
else:
    print("sorry no discount")

enter the bill:4566
discount of 10 %

In [28]:
# WAP to check wheather from a given dictionary if new-zealand played in finals in that year
#in the dictionary year and name of finalists are given
world_cups ={2019:["england","new-zealand"],2015:["australlia","new-zealand"],2011:["india","srilanka"],2007:["australlia","srilanka"],2003:["australlia","india"]}
year = int(input("enter year to check wheather new-zealand played in finalss or not:" ))
if year in world_cups.keys() :
        if "new-zealand" in world_cups[year]:
            print("new-zealand made into finals")
        else:
            print("new-zealand didnt made to finals")
else:
    print("no match was held in ",year)

enter year to check wheather new-zealand played in finalss or not:2020
no match was held in  2020

### loops and iterations

#### while loop

In [29]:
#pin checking
pin = ("enter your 4 digit pin")
while pin != "1234":
    pin = input("invalid pin please enter again: ")
print("PIN verification succesful")

invalid pin please enter again: 1111
invalid pin please enter again: 1234
PIN verification succesful

In [4]:
# set a count
import sys
pin = ("enter your 4 digit pin")
attempt_count =1
while pin != "1234":
    if attempt_count >=3:
        sys.exit("Too many attempts")
    pin = input("invalid pin please enter again: ")
    attempt_count = attempt_count + 1  #attempt_count += 1
print("PIN verification succesful")

invalid pin please enter again: 1234
PIN verification succesful

#### for loop

In [40]:
l = [1,2,3,4,5]
for var in l:
    print (var)

1
2
3
4
5

In [43]:
string = "new-york"
for char in string:
    print(char, end =":")

n:e:w:-:y:o:r:k:

In [45]:
# loop over dictionaries
students_data = {1:["sam",24],2:["rob",25],3:["jack",26],4:["cornor",24],5:["trump",27]}

In [46]:
# print key and value
for key,val in students_data.items():
    print(key,val)

1 ['sam', 24]
2 ['rob', 25]
3 ['jack', 26]
4 ['cornor', 24]
5 ['trump', 27]

In [48]:
#print only key
for key in students_data.keys():
    print(key)

1
2
3
4
5

In [49]:
for values in students_data.values():
    print(values)

['sam', 24]
['rob', 25]
['jack', 26]
['cornor', 24]
['trump', 27]

In [86]:
# WAP to subtract list2 from list1 using for loop
l1 = [22,32,14,16,14]
l2 = [11,14,16,12,11]
l3 = [0,1,2,3,4]
for i in l3:
    l3[i] = l1[i] - l2[i]
print(l3)

[11, 18, -2, 4, 3]

In [78]:
# WAP to subtract list2 from list1 using for loop
l1 = [22,32,14,16,14]
l2 = [11,14,16,12,11]
l3 = []
for i in range(len(l1)):
    l3.append(l1[i]-l2[i])
print(l3)

[11, 18, -2, 4, 3]

### Range

In [2]:
l = list(range(5))
l

[0, 1, 2, 3, 4]

In [1]:
l = list(range(1,5))
l

[1, 2, 3, 4]

In [5]:
l= list (range(0,11,2)) #creates a range with a count of 2
l

[0, 2, 4, 6, 8, 10]

In [6]:
l= list (range(10,1,-2)) #creates a range with a count of 2
l

[10, 8, 6, 4, 2]

In [7]:
# WAP to convert the first letters in a list to capital
small = ["apple","bat","cat","doll"]
new_list = []
for i in small:
    new_list.append(i.capitalize())
print(new_list)

['Apple', 'Bat', 'Cat', 'Doll']

In [8]:
new_list =[i.capitalize() for i in small]
print(new_list)

['Apple', 'Bat', 'Cat', 'Doll']

In [13]:
# WAP to find the prime nos between 1 & 20
for n in range(1,21):
    flag = True
    for i in range(2,n):
        if n % i == 0:
            print(n,"is not prime")
            flag = False
            break
    if flag == True:
            print(n,"is a prime no")

1 is a prime no
2 is a prime no
3 is a prime no
4 is not prime
5 is a prime no
6 is not prime
7 is a prime no
8 is not prime
9 is not prime
10 is not prime
11 is a prime no
12 is not prime
13 is a prime no
14 is not prime
15 is not prime
16 is not prime
17 is a prime no
18 is not prime
19 is a prime no
20 is not prime

## Comprehensions

### list comprehrensions

In [14]:
#WAP to write the length of a string in a list
l1 = ["automobiles","honda","benz","suzuki","morris garages"]
#normal approach
l2 = []
for i in l1:
    l2.append(len(i))
print(l2)

[11, 5, 4, 6, 14]

In [15]:
# comprehensive approach
l2 = [len(i) for i in l1]
l2

[11, 5, 4, 6, 14]

In [17]:
# Wap to find the difference between two lists using comprehensive approach
l1 = [22,32,14,16,14]
l2 = [11,14,16,12,11]
l3 = [l1[i]-l2[i] for i in range(len(l1))]
l3

[11, 18, -2, 4, 3]

In [18]:
# iterating through two lists
l1 = ["automobiles","honda","benz","suzuki","morris garages"]
l2 = [len(i) for i in l1]
for i,j in zip(l1,l2):
    print(i,"-",j)

automobiles - 11
honda - 5
benz - 4
suzuki - 6
morris garages - 14

### Dictionary comprehensions

In [19]:
# WAP to create a dictionary from a given list where key are the strings and values are the length of the strings
l1 = ["automobiles","honda","benz","suzuki","morris garages"]
d = { i:len(i) for i in l1}
print(d)

{'automobiles': 11, 'honda': 5, 'benz': 4, 'suzuki': 6, 'morris garages': 14}

In [22]:
#wap to  create a dictionary of even natural nos as keys and their squates as values
squares_even = {i : i**2 for i in range(0,21) if i% 2 ==0}
print(squares_even)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64, 10: 100, 12: 144, 14: 196, 16: 256, 18: 324, 20: 400}

In [23]:
# Wap to take a word and return the values
word = input("enter the word : ")
vowels = [i for i in word if i in "aeiouAEIOU"]
print (vowels)

enter the word : Eagle
['E', 'a', 'e']

In [24]:
# WAP to return a word from a list which starts with vowels 
input_list = ["wood","apple","old","big","item","euphoria"]
word_vowel = [word for word in input_list if word[0] in "aeiouAEIOU"]
print(word_vowel)

['apple', 'old', 'item', 'euphoria']