### create a random variable

In [4]:
from random import randint
val = randint(0,10)
print(val)

7

## Lists

In [6]:
list1 = ["suraj",1986,"sundargarh"]
list1

['suraj', 1986, 'sundargarh']

#### indexing

In [7]:
list1[0]

'suraj'

In [8]:
list1[-1]

'sundargarh'

In [9]:
list1[0:2]

['suraj', 1986]

In [11]:
list1[1:3]

[1986, 'sundargarh']

#### nested list

In [12]:
list2 = ["suraj",1986,"sundargarh",["rourkela","burla"]]
list2

['suraj', 1986, 'sundargarh', ['rourkela', 'burla']]

In [13]:
list2[3]

['rourkela', 'burla']

In [14]:
list2[3][1]

'burla'

In [15]:
list2[3][0]

'rourkela'

#### membership

In [16]:
list2 = ["suraj",1986,"sundargarh",["rourkela","burla"]]
print ("suraj" in list2)

True

In [17]:
print ("rourkela" in list2)

False

In [18]:
print(["rourkela","burla"] in list2)

True

#### list concatenation

In [19]:
list2 = ["suraj",1986,"sundargarh",["rourkela","burla"]]
list3 = list2 + ["rkl",26]
list3

['suraj', 1986, 'sundargarh', ['rourkela', 'burla'], 'rkl', 26]

In [20]:
list2[1] =1987
list2

['suraj', 1987, 'sundargarh', ['rourkela', 'burla']]

In [21]:
list2.extend(["karim","sagar"])
list2

['suraj', 1987, 'sundargarh', ['rourkela', 'burla'], 'karim', 'sagar']

In [22]:
list2.append([1,2])
list2

['suraj', 1987, 'sundargarh', ['rourkela', 'burla'], 'karim', 'sagar', [1, 2]]

In [35]:
list2.append(4)
list2

['suraj',
 1987,
 'sundargarh',
 ['rourkela', 'burla'],
 'karim',
 'sagar',
 [1, 2],
 4]

In [36]:
del list2[-1]
list2

['suraj', 1987, 'sundargarh', ['rourkela', 'burla'], 'karim', 'sagar', [1, 2]]

In [39]:
list2.pop(-1)

[1, 2]

In [41]:
list2

['suraj', 1987, 'sundargarh', ['rourkela', 'burla'], 'karim']

In [42]:
list2.remove(["rourkela","burla"])
list2

['suraj', 1987, 'sundargarh', 'karim']

In [43]:
list2.remove(list2[1])
list2

['suraj', 'sundargarh', 'karim']

#### sorting

In [46]:
list2 = ["suraj","sundargarh","rourkela","burla"]

In [47]:
list3 = list2.sort()
print(list2)
print(list3)

['burla', 'rourkela', 'sundargarh', 'suraj']
None

In [48]:
list3 = sorted(list2)
print(list2)
print(list3)

['burla', 'rourkela', 'sundargarh', 'suraj']
['burla', 'rourkela', 'sundargarh', 'suraj']

#### copying

In [49]:
a = ["strawberry","mango","apple"]
b = a
print(a)   # shadow coping .. changes in a reflects in b
print(b)

['strawberry', 'mango', 'apple']
['strawberry', 'mango', 'apple']

In [50]:
a[0] = "grapes"
print(a)
print(b)

['grapes', 'mango', 'apple']
['grapes', 'mango', 'apple']

In [51]:
a = ["strawberry","mango","apple"]   # no shadow copying , changes in a is not reflected in b
b = a[:]

In [52]:
a[0] = "grapes"
print(a)
print(b)

['grapes', 'mango', 'apple']
['strawberry', 'mango', 'apple']

## Tuples

In [55]:
# tuples are similar to lists but tuples are mutable whereas lists are not
# create a tuple
a = ("suraj",1986,35)
print(a)
type(a)

('suraj', 1986, 35)

tuple

In [56]:
a = (1,)  # any variable witha ',' creates a tuple
print(a)
type(a)

(1,)

tuple

In [57]:
a = (1)
print(a)
type(a)

1

int

In [58]:
a = ("suraj")
print(a)
type(a)

suraj

str

In [59]:
a = ("suraj",)
print(a)
type(a)

('suraj',)

tuple

#### indexing

In [60]:
a = ("suraj",1986,35)
a[2]

35

In [61]:
a[-1]

35

In [62]:
a[0:2]

('suraj', 1986)

In [63]:
a[1:len(a)]

(1986, 35)

#### concatenating tuples

In [77]:
tup1 = ("My", "name", "is")
tup2 = ("shubhranshu","patel")
tup3 = tup1 +tup2
print(type(tup3))
print(tup3)

<class 'tuple'>
('My', 'name', 'is', 'shubhranshu', 'patel')

In [66]:
t = (24,15,55,-10,-66)
sum(t)

18

In [67]:
max(t)

55

In [68]:
min(t)

-66

#### adding in a tuple since tuple is non mutable

In [82]:
t = ("my", "name","is","shubhranshu","patel")
new = t[0:4]+("shekhar",)+t[4:]  #cant write t[4] in place of t[4:] sice it will return an string and string can not be cancate with a tuple
new

('my', 'name', 'is', 'shubhranshu', 'shekhar', 'patel')

#### sorting

In [84]:
t = ("my", "name","is","shubhranshu","patel")
n = sorted(t) #converts to list
y = tuple(n)  # converts to tuple
print(n)
print(y)

['is', 'my', 'name', 'patel', 'shubhranshu']
('is', 'my', 'name', 'patel', 'shubhranshu')

In [85]:
t = ("my", "name","is","shubhranshu","patel",(1111,"dance")) #nested tuple
t

('my', 'name', 'is', 'shubhranshu', 'patel', (1111, 'dance'))

#### Packing and unpacking in tuple

In [86]:
t = (1,2,3,4) #packing
print(t)

(1, 2, 3, 4)

In [87]:
(a,b,c,d) = t #Unpacking
c

3

In [88]:
(a,b,c,d,e) = t #error if both the lengths are not same
c

ValueError: not enough values to unpack (expected 5, got 4)

In [89]:
dir(t)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

## <font color = blue> Sets </font>

In [91]:
l = [1,3,3,5,6,5,8,9,9,4]  #set does not contain duplicate nos neither allow indexing
s = set(l)
print(l)
print (type(l))
print(s)
print(type(s))

[1, 3, 3, 5, 6, 5, 8, 9, 9, 4]
<class 'list'>
{1, 3, 4, 5, 6, 8, 9}
<class 'set'>

In [94]:
# creating a set
a ={ 1,2,3,4,6,5,5} #removes duplicate and automatically sorts
a

{1, 2, 3, 4, 5, 6}

In [95]:
b = {"kolkata","australlia"}
b

{'australlia', 'kolkata'}

In [96]:
a.add("australlia") #adding a value
a

{1, 2, 3, 4, 5, 6, 'australlia'}

In [102]:
a.remove(4) #removing a value
a

{1, 2, 3, 6, 'australlia'}

#### SET operations

In [105]:
a = {0,2,4,6,8}
b = {0,3,5,6,8}
print(a,b)

{0, 2, 4, 6, 8} {0, 3, 5, 6, 8}

In [106]:
#union
print(a|b)
print(a.union(b))

{0, 2, 3, 4, 5, 6, 8}
{0, 2, 3, 4, 5, 6, 8}

In [109]:
#intersection
print(a & b)
print(a.intersection(b))

{0, 8, 6}
{0, 8, 6}

In [110]:
# Difference
print(a -b)
print(a.difference(b))

{2, 4}
{2, 4}

In [112]:
#Symmetric Difference
print(a^b)

{2, 3, 4, 5}

## Dictionaries

In [1]:
# declaration
d ={"india":"inr","usa":"usd","france":"euro"}
d

{'india': 'inr', 'usa': 'usd', 'france': 'euro'}

#### indexing

In [2]:
d["usa"]

'usd'

In [4]:
# insert a new character
d["japan"] = "yen"
d

{'india': 'inr', 'usa': 'usd', 'france': 'euro', 'japan': 'yen'}

In [5]:
# delete
del d["france"]
d

{'india': 'inr', 'usa': 'usd', 'japan': 'yen'}

In [6]:
#sorting
e = sorted(d)
e

['india', 'japan', 'usa']

In [7]:
#extract values & keys
d.values()

dict_values(['inr', 'usd', 'yen'])

In [8]:
d.keys()

dict_keys(['india', 'usa', 'japan'])

In [9]:
#update
d.update({"usa":"$"})
d

{'india': 'inr', 'usa': '$', 'japan': 'yen'}