## Functions

In [ ]:
#syntax
# def function name(parameters):

In [1]:
# WAP to subtract two list using function
def sub_list(l1,l2):
    l3 = []
    for i in range(len(l1)):
        l3.append(l1[i]-l2[i])
    return l3
    
l1 = [12,13,14,15,16]
l2 = [11,44,52,21,36]
sub_list(l1,l2)

[1, -31, -38, -6, -20]

In [4]:
#pass default parameters
def func(name,age=35): #passing default value for age
    print("name: ",name)
    print("age: ",age)
    
func("suraj",24)

name:  suraj
age:  24

In [5]:
func("suraj")

name:  suraj
age:  35

In [6]:
func(24)

name:  24
age:  35

#### variable length argument

In [7]:
def varlen(*args):  #takes any argument given
    print(args)
varlen("suraj",26,1986)

('suraj', 26, 1986)

### Lambda function

In [8]:
# syntax : function_name = lambda <space> input_parameter : output parameter
# WAP to find a given nomis even or odd
y = lambda x : "even" if x%2 == 0 else "odd"
y(5)

'odd'

In [9]:
# WAP to retain larger no between two
greater = lambda x,y: x if x>y else y
greater(5,9)

9

## Map, Filter & Reduce

#### Map

In [11]:
#map is a utility function which maps a collection to another collection of objects based on certain criteria
# syntax : map(function,collection_or_list)
# WAP using map to return upercase in a list
jobs = ["lecturer","doctor","engineer","lawyer"]
list(map(lambda x : x.upper(),jobs))

['LECTURER', 'DOCTOR', 'ENGINEER', 'LAWYER']

In [13]:
# WAP to find a square of a given list
l1 = [1,2,3,4,5]
y = map(lambda x :x**2, l1)
list(y)

[1, 4, 9, 16, 25]

In [16]:
#define a map using function 
l1 = [1,2,3,4,5]
def sqar(n):
    return n**2
list(map(sqar,l1))

[1, 4, 9, 16, 25]

### Filter

In [17]:
# filter is similar to map function,only one distinguishing feature being that it requires the function to look for a condition and returns only the elements from the list which satisfies the condition
#syntax : filter(function, list)
# WAP to return the numbers which are divisible by 3
l1 = [3,4,5,6,7,8,9]
list(filter(lambda x: x%3 ==0 , l1))

[3, 6, 9]

In [23]:
l1 = [3,4,5,6,7,8,9]
def div_3 (n):
    if n% 3 == 0:
        return(n)
div_3(6)
list (filter(div_3,l1))

[3, 6, 9]

### Reduce

In [2]:
# It is an operation that breaks down the entire process into pairwise operations and uses the result from each operation with the successive element
# syntax: reduce(function,iterable object)
# reduce function needs to be imported from functools library
# WAP to multiply successive elements ina list
from functools import reduce
l1 = [2,3,4,6,5,4]
q = reduce(lambda x,y: x*y,l1)
l1

[2, 3, 4, 6, 5, 4]

In [4]:
l1 = [2,3,4,6,5,4]
q = reduce(lambda x,y : x if x>y else y, l1)
q

6