## <font color = blue> Python Basics </font>

Input

In [2]:
x = input("what is your name ?")
print(x)

what is your name ?shubhranshu
shubhranshu

Print a format

In [3]:
print ("   $   ")
print ("  $ $  ")
print (" $   $ ")
print ("$     $")

   $
  $ $
 $   $
$     $

Print more than once

In [4]:
print ("$" * 5)

$$$$$

### Variables

In [5]:
var = "shubhranshu"
print(var)

shubhranshu

Convert age to months

In [8]:
x = input("Enter your age")
print (" You are ",x * 12 ,"months") # here since the value is not converted to integer we will retain age 12 times so we have to do type casting

Enter your age5
 You are  555555555555 months

### Typecasting

In [11]:
x = input("Enter your age: ")
y = int(x)
print (" You are ",y * 12 ,"months old")

Enter your age: 6
 You are  72 months old

In [14]:
x = 5
y = 10.5
z = "shub"
w = True
print(type(x))
print(type(y))
print(type(z))
print(type(w))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

## Arithmatic operations :

In [16]:
a = 2
b = 3
print("addition =", a+b)
print("substraction =", a-b)
print("Multiplication =", a*b)
print("division = ", a/b)
print("floor division", a//b)
print("Modulos or remainder =", a%b)
print("Exponential =", a**b)

addition = 5
substraction = -1
Multiplication = 6
division =  0.6666666666666666
floor division 0
Modulos or remainder = 2
Exponential = 8

## String Operations:

In [17]:
x = "My name is shubhranshu patel" #string is defined within inverted commas
print(x)

My name is shubhranshu patel

In [18]:
print("My name is \n Shubhranshu Patel") #\n for new line

My name is
 Shubhranshu Patel

String Concatenation

In [22]:
x = "Myname is shubhranshu patel"
y = "I live in sundargarh"
print(x+y)
print(x+" "+y)
print(x+ "\n" +y)

Myname is shubhranshu patelI live in sundargarh
Myname is shubhranshu patel I live in sundargarh
Myname is shubhranshu patel
I live in sundargarh

Indexing in Strings

In [24]:
x = "My name is shubhranshu patel"
y = "I live in sundargarh"
x[0]

'M'

In [25]:
x[0:2] #initial value included ending value is not included

'My'

In [26]:
x[-1] # Acessing last character

'l'

### String slicing

In [27]:
x = "My name is shubhranshu patel"
y = "I live in sundargarh"
place = y[10:20]
print (place)

sundargarh

In [29]:
x[3:]

'name is shubhranshu patel'

In [30]:
x[-1:-5]

''

In [31]:
x[-5:-1]

'pate'

### Membership

In [32]:
x = "My name is shubhranshu patel"
print("patel" in x)

True

In [33]:
print("vvv" in x)

False

In [34]:
print ("atel" in x)

True

### String Methods

In [38]:
x = "My name is shubhranshu patel"
print(x.upper())

MY NAME IS SHUBHRANSHU PATEL

In [39]:
print(x.lower())

my name is shubhranshu patel

In [40]:
print(x.capitalize()) #capitalize the first letter of the string

My name is shubhranshu patel

In [42]:
print(x.startswith("M"))

True

In [43]:
print(x.startswith("a"))

False

In [44]:
print(x.endswith("l"))

True

In [45]:
print(x.endswith("patel"))

True

In [46]:
x = "        My name is shubhranshu patel          "
print (x.rstrip())

        My name is shubhranshu patel

In [48]:
print(x.lstrip())

My name is shubhranshu patel

In [51]:
print(x.lstrip("M"))

        My name is shubhranshu patel

In [53]:
x = "mmm    My name is shubhranshu patel"
print(x.lstrip("m"))

    My name is shubhranshu patel

In [1]:
x = "##### Shubhranshu $$$$$$"
print(x.lstrip("#").rstrip("$"))

 Shubhranshu

In [2]:
x = "My name is shubhranshu patel"
print(x.split(" "))

['My', 'name', 'is', 'shubhranshu', 'patel']

In [5]:
print(x.count("s")) #count the number of character

3

In [8]:
print(x.count("s",5)) #count the no of character after the 5th character

3

In [11]:
a = "data"
b = "analysis"
c = "python"
print ("{0} {1} using {2}".format(a,b,c))

data analysis using python

##### print alternate lrtter

In [15]:
x = "bmaunmdbraai"
y = x[0:-1:2]
z = x[1:len(x):2]
print(x,y,z)

bmaunmdbraai bandra mumbai